

body {
	background-color: #fff;
}

h1 {
	margin-top: 70px;
}

.top-navigation {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 0;
}

.logo {
	margin-top: -100px;
	margin-left: 110px;
}

#add_li  {
	background-color: #fff;
	border-style: ridge;
	border-radius: 4px;
	border-width: 3px;
	color: black;
	font-size: 15px;
	float: right;
	margin-right: 1040px;
}

#remove_li {
	background-color: #fff;
	border-style: ridge;
	border-radius: 4px;
	border-width: 3px;
	color: black;
	font-size: 15px;
	display: inline-block;
	margin-right: 40px;
}


input  {
	display: inline block;
	border-radius: 4px;
	font-size: 15px;
	float: right;
	margin-right: 780px;
	margin-top: -25px;
}


h2 {
	display: inline block;
	float: right;
	margin-right: 350px;
	margin-top: -25px;
}

#update_li {
	background-color: #fff;
	border-style: ridge;
	border-radius: 4px;
	border-width: 3px;
	color: red;
	font-size: 15px;
	float: right;
	margin-right: 464px;	
}

.basket {
	float: right;
	margin-right: -300px;
	margin-top: 25px;

}

ol {
	float: right;
	margin-right: -755px;
	margin-top: 25px;
/*	display: none; */
}

/*
@media only screen and (max-width: 1030px) {
    .top-navigation {
        margin-left: 2em;
    }

}

@media only screen and (max-width: 1150px) {
    .userinfo  {
        margin-left: 2em;
    }

    button  {
        margin-left: 2em;
    }
}

 @media only screen and (max-width: 940px) {
    h2  {
        margin-left: 2em;


